html, body {
  margin:0;
  padding:0;
}
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none;
}
form,
textarea,
input,
button {
 
  border-radius: 0;
}
dl,
ul {
  list-style-position: inside;
  font-weight: 400;
  list-style: none;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: center;
}
img {
  border: none;
  position: relative;
}
a,
a:visited {
  text-decoration: none;
}
.clearfix {
  clear: both;
}
.section,
.widget,
.widget ul {
  margin: 0;
  padding: 0;
}

.alignleft {
  text-align: left;
}

.aligncenter {
  text-align: center;
}
.alignright {
  text-align: right;
}

a {
  color: #025746;
}
.post-tag a {
  color: #fff;
}
a img {
  border: 0;
}
abbr {
  text-decoration: none;
}
i, :before {
  font-family:FontAwesome;
}

:before{
  margin-right:10px;
}
.separator a {
  clear: none !important;
  float: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}


#top-bar {
  width: 100%;
height: 34px;
background-color: #fff;
overflow: hidden;
margin: 0;
border-bottom: 1px solid #eee;
}


#top-bar .container {
  margin: 0 auto;
  position: relative;
}


.top-bar-nav {
  position: relative;}

  .top-bar-nav ul li {
    display:inline-block;
}


.top-bar-nav ul li:first-child > a {
  padding: 0 5px 0 0;
}

.top-bar-nav ul li > a {
  height: 34px;
  display: block;
  color: #025746;
  font-size: 13px;
  font-weight: 500;
  line-height: 34px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  padding: 0 5px;
  transition: color 0.17s;
}

.top-bar-social {
  display:block;
}

.widget-content.social li {
  display:inline-block;
}

/*Social icons*/
.social .facebook a:before {
  content: "\f09a";
}
  .social .github a:before {
    content: "\f09b";
  }
  .social .skype a:before {
    content: "\f17e";
  }

  .social .viber a:before {
    content: "\f409";
  }

  .social .whatsapp a:before {
    content: "\f232";
  }

  .social .linkedin a:before {
    content: "\f0e1";
  }
  .social .instagram a:before {
    content: "\f16d";
  }
  .social .pinterest a:before {
    content: "\f0d2";
  }
  .social .youtube a:before {
    content: "\f167";
  }
  .social .twitter a:before {
    content: "\f099";
  }

  .social .email a:before {
    content: "\f0e0";
  }
  .social .phone a:before {
    content: "\f095";
  }
.widget-content.social {
  top: 10px;
  right: 0;
  position: absolute;
}

#header-wrap {
  position: relative;
  margin: 0;
}

.header-header {
  background-color: #fff;
  width: 100%;
  height: 90px;
  position: relative;
  overflow: hidden;
  padding: 25px 0;
}

.header-header .container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.header-logo {
  position: relative;
  float: left;
  width: auto;
  max-width: 250px;
  max-height: 60px;
  margin: 0;
  padding: 15px 0;
}

.header-logo:after {
  content:"";
  display:block;
  clear:both;
}
.header-logo .header-image-wrapper {
  display: block;
}

.header-menu {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: #025746;
  z-index: 0;
  font-size: 13px;
  margin: 0 0 30px 0;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  background-color: #202020;
  box-sizing: border-box;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  visibility: hidden;
  opacity: 0;
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: all 0.17s ease;
}

.mobile-menu > ul {
  margin: 0;
}

.mobile-menu ul li {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 38px;
  margin: 0;
  padding: 0;
}

.mobile-menu ul li a {
  color: #fff;
  padding: 0;
  display: block;
  transition: all 0.17s ease;
}

.header-menu .container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.slide-menu-toggle {
  display: none;
  position: absolute;
  line-height: 48px;
  height: 48px;
  width: 48px;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  cursor: pointer;
  z-index: 4;
  padding: 0;
}

#main-menu {
  position: relative;
  height: 48px;
  z-index: 0;
}

#main-menu .show-menu {
  display: block;
}

#main-menu ul {
  transition: all 0.17s ease;
}

#main-menu ul > li {
  display:inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  transition: background 0.17s;
}

#main-menu ul > li > a {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 48px;
  display: inline-block;
  margin: 0;
  padding: 0 13px;
  transition: color 0.17s ease;
}

#nav-search{
  position:relative;
}


/*Search*/

.sb-search {
	position: absolute;
	top:-48px;
  right:0;
	width: 0%;
	min-width: 60px;
	height: 48px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
/* The input element on the search element  */
.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #025746;
	width: 100%;
	height: 48px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #fff;
}


input[type="search"].sb-search-input {
	/* remove special webkit formatting on the search input */
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

/* browser specific placholder text color */
.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}

.sb-search-input:-moz-placeholder {
	color: #efb480;
}

.sb-search-input::-moz-placeholder {
	color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}
/* format the search button and submit to share the same size and space */
.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}
/* hide the submit but leave it clickable */
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

/* format the search icon */
.sb-icon-search {
	color: #fff;
	background: #025746;
	z-index: 90;
	font-size: 22px;
  font-family: FontAwesome;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* add the magnifying glass character from the icomoon font as a before pseudo element */
.sb-icon-search:before {
	content: "\f002";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

/* add the "active" color on the search button */
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #025746;
	color: #fff;
	z-index: 11;
}

/* adjust z-index to make sure the search submit is clikacble and not below any other elements */
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

/*End of search*/

#content-wrapper {
  margin: 40px auto 0;
  overflow: hidden;
}

#content-wrapper > .container {
  margin: 0 -15px;
} 

#main-wrapper {
  float: left;
  overflow: hidden;
  width: 66.66666667%;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 0 15px;
  margin: 0;
}

.index-post-wrap {
  position: relative;
  float: left;
  width: 100%;
}

.grid-posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.index-post {
  display: block;
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 0 40px;
}
.blog-post {
  display: block;
  overflow: hidden;
  word-wrap: break-word;
}


.index-post .post-image-wrap {
  float: left;
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin: 0 0 10px;
}

.post-image-wrap {
  position: relative;
  display: block;
}

.index-post .post-image-wrap .post-image-link {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
}
.post-image-link, .about-author .avatar-container, .comments .avatar-image-container {
  background-color: rgba(155, 155, 155, 0.07);
  color: transparent !important;
  margin-top:15px;
}

widget img {
  max-width: 100%;
}
.post-thumb {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: opacity 0.17s ease;
}

.post-tag {
  position: absolute;
  top: 30px;
  left: 20px;
  height: 18px;
  z-index: 5;
  background-color: #025746;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 7px;
}

.post-tag a {
  color: #fff;
}

.avatar-container .author-name span, .avatar-container .author-description {
  background: none;
  color: #333;
}

.index-post .post-info {
  float: left;
  width: 100%;
  overflow: hidden;
}

.index-post .post-info > h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5em;
  text-decoration: none;
  margin: 0;
}

.index-post .post-info > h2 > a {
  display: block;
  color: #333333;
  transition: color 0.17s;
}

.index-post .post-meta {
  margin: 10px 0 0;
}
.post-meta {
  overflow: hidden;
  color: #025746;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 1px;
}
.post-meta .post-author, .post-meta .post-date {
  float: left;
  display: inline-block;
  margin: 0 10px 0 0;
}
.post-meta .post-author:before {
  content: "\f007";
}
.post-meta a {
  color: #025746;
  transition: color 0.17s;
}

.post-meta .post-author, .post-meta .post-date {
  float: left;
  display: inline-block;
  margin: 0 10px 0 0;
}

.post-meta .post-date:before {
  content: "\f017";
}

.post-snippet {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.6em;
  font-weight: 400;
  margin: 7px 0 0;
}

a.read-more {
  display: inline-block;
  color: #025746;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 15px 0 0;
  transition: color 0.17s ease;
}

a.read-more:after {
  content: "\f178";
  font-family: FontAwesome;
  font-weight: 400;
  margin: 0 0 0 5px;
}

#blog-pager {
  float: left;
  width: 100%;
  overflow: hidden;
  clear: both;
  margin: 0 0 40px;
}

.tags, .the-tags {
  padding:10px;
}

.post-labels .the-tags {
background:transparent;
transition: 0.2s all;
margin-left:10px;
}

.the-tags:hover a{
  color:#fff!important;
}



.sidebar .widget {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 35px;
}

.related h5{
  min-height: 30px;
}

.related .title-wrap  {
  margin-top:30px;
}

.related .title-wrap h3 {
  color:#fff;
  text-align:center;
}

.row.related .post-date {
  background: none;
}

#footer-wrapper {
  background-color: #202020;
}
#footer-wrapper .container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 25px 0;
}

#sub-footer-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  color: #f1ffff;
  display: block;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
#sub-footer-wrapper .container {
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0;
}

#sub-footer-wrapper .copyright-area {
  font-size: 13px;
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.back-top {
  display: none;
  z-index: 1010;
  width: 32px;
  height: 32px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 32px;
}

@media screen and (max-width: 1100px) {
  #outer-wrapper {
    max-width: 100%;
  }
  .row {
    width: 100%;
  }
  #top-bar .container {
    box-sizing: border-box;
    padding: 0 20px;
  }
  #hot-wrapper {
    box-sizing: border-box;
    padding: 0 20px;
  }
  #header-wrap {
    height: auto;
  }
  .header-header {
    height: auto;
    box-sizing: border-box;
    padding: 25px 20px;
  }
  .header-logo {
    max-width: 30%;
  }
  .header-ads {
    max-width: 70%;
  }
  .header-menu {
    box-sizing: border-box;
    padding: 0 20px;
  }
  #content-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 30px 0 0;
  }
  #footer-wrapper .container {
    box-sizing: border-box;
    padding: 30px 20px;
  }
  #sub-footer-wrapper .container {
    box-sizing: border-box;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 980px) {
  .top-bar-nav {
    display:none;
  }

  /*Mobile menu*/

  .blog-post {
    z-index:-1;
  }

  #sidebar-wrapper {
    width: 100%;
    padding: 0;
    z-index: -1;
}

  #main-menu ul > li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    transition: background 0.17s;
    top: 45px;
    background: rgba(70, 70, 70, 0.9);
}

/*End of mobile*/

  .sb-search{
    top: 0;
  }

  #content-wrapper > .container {
    margin: 0;
  }
  .header-logo {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .header-logo .header-image-wrapper {
    display: inline-block;
  }
  #main-menu {
    display: none;
  }
  .slide-menu-toggle,
  .mobile-menu {
    display: block;
  }
  #header-wrap {
    padding: 0;
  }
  .header-header {
    background-color: #fff;
    padding: 0;
  }
  .header-header .container.row {
    width: 100%;
  }

  #header-inner a {
    display: inline-block !important;
  }
  #main-wrapper,
  #sidebar-wrapper {
    width: 100%;
    padding: 0;
  }
  .item #sidebar-wrapper {
    margin-top: 20px;
  }
}
@media screen and (max-width: 880px) {
  .footer-widgets-wrap {
    display: block;
  }
  #footer-wrapper .footer {
    width: 100%;
    margin-right: 0;
  }
  #footer-sec2,
  #footer-sec3 {
    margin-top: 25px;
  }
}
@media screen and (max-width: 680px) {
  #hot-section .show-hot .widget-content,
  #hot-section .hot-posts {
    height: auto;
  }
  #hot-section .hot-loader {
    height: 200px;
  }
  .hot-posts .hot-item {
    width: 100%;
    height: 220px;
    margin: 10px 0 0;
  }
  .hot-posts .hot-item.item-0 {
    width: 100%;
    height: 250px;
    margin: 0;
  }
  .hot-posts .hot-item.item-1,
  .hot-posts .hot-item.item-2 {
    margin: 10px 0 0;
  }
  .hot-posts .post-title {
    font-size: 18px;
  }
  .index-post {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .top-bar-nav {
    display: none;
  }
  .top-bar-social {
    width: 100%;
    text-align: center;
  }
  .top-bar-social ul > li {
    float: none;
  }
  .top-bar-social ul > li > a {
    margin: 0 5px;
  }
  .top-bar-social ul > li:last-child > a {
    padding: 0 5px;
  }
  .hot-posts .hot-item {
    height: 180px;
  }
  .index-post .post-image-wrap {
    margin: 0 0 15px;
  }

}
@media screen and (max-width: 440px) {
  .hot-posts .hot-item.item-0 {
    height: 200px;
  }
  .hot-posts .item-0 .post-title {
    font-size: 19px;
  }
  .queryMessage {
    text-align: center;
  }
  .queryMessage a.show-more {
    width: 100%;
    margin: 10px 0 0;
  }
  .item-post h1.post-title {
    font-size: 24px;
  }
  .about-author {
    text-align: center;
  }
  .about-author .avatar-container {
    float: none;
    display: table;
    margin: 0 auto 10px;
  }

  .errorWrap {
    padding: 70px 0 100px;
  }
  .errorWrap h3 {
    font-size: 120px;
  }
}
@media screen and (max-width: 360px) {
  .about-author .avatar-container {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 30em) {
  .post-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .post-table tr {
    border: 0.125em solid #333;
    border-bottom: 0;
  }
  .post-table tr + tr {
    margin-top: 1.5em;
  }
  .post-table tr,
  .post-table td {
    display: block;
  }
  .post-table td {
    border: none;
    border-bottom: 0.125em solid #333;
    padding-left: 50%;
  }
  .post-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
  }
}
@media (max-width: 20em) {
  .post-table td {
    padding-left: 0.75em;
  }
  .post-table td:before {
    display: block;
    margin-bottom: 0.75em;
    margin-left: 0;
  }
}
/*Other*/
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 12px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
